.footer_menu.nav .nav-item .nav-link{
    padding: 4px 1rem 4px 0;
    text-decoration: underline;
    line-height: 24px;

}
.footer_menu.nav .nav-item .nav-link:hover{
    text-decoration: none;
    color: #b2966e;
    font-weight: bold;
}
.footer_menu.nav .nav-item .nav-link:active{
    text-decoration: none;
    color: #aba8a4;
}