.catalog_menu{
	min-height: 66px;
}
.root_level{
	min-height: 66px;
	position: relative;
}
.root_level>a{
	min-height: 66px;
	display: block;
	width: 130px;
	padding: 13px 15px;
	text-align: center;
}
.root_level:hover{
	background-color: #D2B58C;
	/*color: #ffffff;*/
}
.root_level:hover>a{
	color: #ffffff;
	font-weight: bold;
}
ul.second_level{
	display: none;
	position: absolute;
	top:68px;
	left:0px;
	list-style: none;
	padding: 20px 15px;
	background-color: #fff;
	z-index: 2;
	box-shadow: -1px 3px 20px -6px #000000;
}
.root_level:hover .second_level{
	display: block;
}

