.block_menu_container{
	height: 374px;
	overflow: hidden;
}
.block_menu_element a{
	text-decoration: underline;
}
.block_menu_element a:hover{
	text-decoration: none;
}
.block_menu_container ul{
	margin-bottom: auto;
}
.block_menu_container img{
	max-height: 200px;
}