@import url("css.css");
/*html {*/
    /*font-size: 14px;*/
    /*color: #262626;*/
/*}*/
/*body {*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*background-color: #ececec;*/
    /*color: #262626;*/
/*}*/
.container{
    width: 1140px;
    min-width: 1140px;
}
.container-fluid{
    min-width: 1140px;
}
.basic_body{
    font-family: 'Open Sans', sans-serif;
    background-color: #ececec;
    color: #262626;
}
.top_logo{
    margin-left: -17px;
    width: 190px;
}
.basic_fontsize{
    font-size: 14px;
}
a {
    color: #262626;
    /*text-decoration: none;*/
}
a:hover{
    text-decoration: none;
    color: #d2b58c;
}
.top_parking{
    /*color: #262626;*/
    display: block;
    border-bottom: 1px dashed #262626;
    width: fit-content;
}

.top_parking:hover{
    /*text-decoration: none;*/
    /*color: #d2b58c;*/
    border-color: transparent;
}
.phone{
    color: #262626;
    font-weight: bold;
}
.top_header_first_line{
    min-height: 70px;
}
button{
    background-color: #D2B58C;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: #B2966E;
    color: #ffffff;
}
.catalog_menu_block{
    /*border-bottom: 10px solid #fff;*/
    position: relative;
    z-index: 99;
    min-width: 1140px;

}
.catalog_menu_block.bb_grey{
    border-bottom: 10px solid #ececec;
    /*border-bottom-color: #ececec;*/
}
.catalog_menu_block:before{
    content: '';
    position: absolute;
    box-shadow: 2px 5px 22px -8px #000000;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.btn.btn-primary{
    background-color: #D2B58C;
    border: none;
    color: #262626;
    border-radius: 0px;
}
.btn.btn-primary.btn-lg{
    padding: 20px 27px;
}
.btn.btn-primary:hover{
    cursor: pointer;
    background-color: #B2966E;
    color: #ffffff;
}
.btn.btn-primary:not(:disabled):not(.disabled):active{
    cursor: pointer;
    background-color: #aba8a4;
    color: #ffffff;
}
.text_with_map{
    min-height: 550px;
}
.map_parking_container{
    position: relative;
    min-height: 515px;
}
.map_parking_container img{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}
.map_parking_container .top_block{
    min-height: 55px;
    background-color: rgba(255, 255, 255, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.map_parking_container a{
    position: absolute;
    z-index: 2;
    top: 470px;
    left: 20px;
}
.top_block_header{
    font-size: 24px;
    font-weight: bold;
}
.parking_desc_dot{
    height: 22px;
    width: 22px;
}
.bg_green{
    background-color: #2c8d2d;
}
.bg_red{
    background-color: #e52020;
}
.input_label::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -18px;
    border-width: 18px;
    border-style: solid;
    border-color: transparent rgba(42, 88, 140, 1) transparent transparent;
}
.ln-24{
    line-height: 24px;
}
.ln-30{
    line-height: 30px;
}
.font-size-18{
    font-size: 18px;
}
.text_in_border{
    border: 2px solid rgba(210, 181, 140, 1); padding: 20px 30px 30px 30px;
}
ul.ul_color{
    list-style: none;
}
ul.ul_color li::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgba(210, 181, 140, 1); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.top_header_row{
    position: relative;
}
/*.slide_container{*/
/*    height: 613px;*/
/*    overflow: hidden;*/
/*}*/
/*.slide_container img{*/
/*    position: absolute;*/
/*    top:50%;*/
/*    left:50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/
/*.slide_container h1, .slide_container h2{*/
/*    position: absolute;*/
/*    font-size: 42px;*/
/*    font-weight: bold;*/
/*    top:25px;*/
/*}*/
.bg-grey{
    background-color: #ececec;
}
.news-detail-slider-control{
    cursor: pointer;
}
