.news-detail { }

/*region POST FORMATS */
.news-detail-img,
.news-detail-audio,
.news-detail-video,
.news-detail-slider {
	position: relative;
	/*margin-bottom: 20px;*/
	text-align: center;
}

.news-detail-slider img,
.news-detail-img img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.news-detail-video {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: block;
	background: url("urn:scrapbook:download:error:http://sl-8.ru/local/templates/aurextop/components/bitrix/news.detail/news_top_slider/images/bx-video.png") no-repeat center;
	opacity: 0.7;
	transition: opacity .3s ease;
}

.news-detail-video:hover {
	opacity: 1;
}

/*region POST FORMATS /// SLIDER */
.news-detail-slider {
	overflow: hidden;
	/*padding-bottom: 56.25%;*/
	width: 100%;
	height: 500px;
}

.news-detail-slider-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

.news-detail-slider-slide {
	z-index: 100;
	float: left;
}

.news-detail-slider-arrow-container-left,
.news-detail-slider-arrow-container-right {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15%;
	cursor: pointer;

}

.news-detail-slider-arrow-container-left {
	left: 0;
}

.news-detail-slider-arrow-container-right {
	right: 0;
}

.news-detail-slider-arrow {
	position: absolute;
	top: 50%;
	z-index: 110;
	margin-top: -24px;
	width: 50px;
	height: 50px;
	color: #fff;
	vertical-align: middle;
	text-shadow: 0 0 2px rgba(0, 0, 0, .5);
	font-size: 48px;
	line-height: 34px;
	opacity: .5;
	cursor: pointer;
	background-color: #b2966e;
}

.news-detail-slider-arrow-container-left:hover .news-detail-slider-arrow,
.news-detail-slider-arrow-container-right:hover .news-detail-slider-arrow {
	display: block;
	color: #fff;
	opacity: 1;
}


.news-detail-slider-arrow-container-left .news-detail-slider-arrow {
	/*left: 20px;*/
	right: 0;
}

.news-detail-slider-arrow-container-right .news-detail-slider-arrow {
	/*right: 20px;*/
	left: 0;
}

@media (max-width: 1615px){

	.news-detail-slider-arrow-container-left .news-detail-slider-arrow {
		left: 20px;
		right: initial;
	}

	.news-detail-slider-arrow-container-right .news-detail-slider-arrow {
		right: 20px;
		left: initial;
	}
}

.news-detail-slider-control {
	position: absolute;
	bottom: 10px;
	z-index: 110;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	word-spacing: -4px;
}

.news-detail-slider-control li {
	display: inline-block;
	margin: 0 3px;
	width: 50px;
	height: 5px;
	/*border-radius: 50%;*/
	background: #262626;

	word-spacing: -4px;
	opacity: .3;
}
.news-detail-slider-control li:hover{
	background: #b2966e;
	opacity: 1;
}

/*.news-detail-slider-control li:hover,*/
.news-detail-slider-control li.current {
	/*background: #262626;*/
	opacity: 1;
}

/*.news-detail-slider-arrow,*/
/*.news-detail-slider-control li {*/
/*-webkit-transition: opacity .3s ease;*/
/*-moz-transition: opacity .3s ease;*/
/*-ms-transition: opacity .3s ease;*/
/*-o-transition: opacity .3s ease;*/
/*transition: opacity .3s ease;*/
/*}*/

/* endregion */

.news-detail-body {}

.news-detail-title,
.news-detail-title a {
	margin: 0;
	padding: 2px 0 15px;
	border-bottom: none;
	color: #000;
	font-weight: 600;
	font-size: 18px;
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.news-detail .card-title a:hover {
	border-bottom-color: transparent;
	text-decoration: none;
}

.news-detail-view,
.news-detail-date,
.news-detail-comments,
.news-detail-author,
.news-detail-other {
	padding-bottom: 5px;
	color: #a4a4a4;
	white-space: nowrap;
	font-size: 13px;
}

.news-detail-view i.fa,
.news-detail-date i.fa,
.news-detail-comments i.fa,
.news-detail-author i.fa,
.news-detail-tags i.fa,
.news-detail-other i.fa {
	width: 13px;
	color: #b4b4b4;
}

.news-detail-tags {
	padding-bottom: 5px;
	color: #a4a4a4;
	font-size: 13px;
}

.news-detail-content {
	margin-bottom: 5px;
	font-size: 14px;
}
.picture_block{
	/*min-height: 585px;*/
	padding-bottom: 40px;
	position: relative;
}
.news-detail-slider-control_prev img{
	opacity: 0.3;
}
.news-detail-slider-control_prev img.current{
	opacity: 1;
}
.news-detail-body img{
	/*max-width: 900px;*/;
}
.news-detail-slider h1, .news-detail-slider h2{
	font-size: 42px;
}
.news-detail-slider-arrow i{
	width: 100%;
	text-align: center;
}